.what-i-do-fast {
  flex: 2;
  flex-direction: column;
  padding: 64px;
  background-color: #ececec !important;

  h3 {
    margin-bottom: 12px;
  }

  img {
    width: 50%;
    height: auto;
    align-self: center;
    margin-top: 48px;

    &.bounce {
      animation: 1s bounce;
    }
  }
}

@media only screen and (max-width: 900px) {
  .what-i-do-fast {
    flex: auto;
    width: 100%;

    img {
      margin-top: 32px;
      width: 30%;
    }
  }
}
