.what-i-do-sec {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 140px 20px;

  h2 {
    margin-bottom: 90px;
  }

  li {
    display: inline-block;
    background: #eff0f1;
    color: #191a1e;
  }
}
