.work-sec {
  max-width: 1280px;
  margin: 0 auto;
  padding: 140px 20px;
  background-color: #fff;
  overflow: hidden;

  h2 {
    margin-bottom: 90px;
  }
}

@media only screen and (max-width: 900px) {
  .work-sec {
    padding: 90px 50px;

    h2 {
      margin-bottom: 70px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .work-sec {
    padding: 90px 25px;
  }
}
