.decks-sec {
  display: flex;
  overflow: hidden;
  height: 67vh;
  padding-top: 140px;
  flex-direction: column;
  align-items: center;
  background-color: #eff0f1;

  .decks-text {
    width: 526px;
    margin-bottom: 200px;
    text-align: center;

    > * {
      opacity: 0;
      transform: translate(0px, 100px);
    }

    h2 {
      margin-bottom: 46px;
    }

    p {
      color: #545465;
      font-size: 18px;
      line-height: 2;
    }
  }

  .decks-wrapper {
    display: flex;
    width: 120vw;
    justify-content: center;

    .decks-grid {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:not(:last-child) {
        margin-right: 1vw;
      }

      &.is-mobile {
        > img {
          width: 7vw;
        }
      }

      > img {
        width: 12vw;
        height: auto;
        box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.04),
          0 16px 24px 0 rgba(0, 0, 0, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.12),
          0 0 1px 0 rgba(0, 0, 0, 0.06);

        &:not(:last-child) {
          margin-bottom: 1.5vh;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .decks-sec {
    padding-top: 90px;
    .decks-text {
      width: 80%;

      p {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .decks-sec {
    .decks-text {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 576px) {
  .decks-sec {
    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 479px) {
  .decks-sec {
    .decks-text {
      margin-bottom: 40px;
    }

    .decks-wrapper {
      width: 180vw;

      .decks-grid {
        &:not(:last-child) {
          margin-right: 2vw;
        }

        &.is-mobile {
          > img {
            width: 18vw;
          }
        }

        > img {
          width: 31vw;
          max-width: 100%;

          &:not(:last-child) {
            margin-bottom: 1vh;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 359px) {
  .decks-sec {
    p {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .decks-sec {
    height: 100vh;
  }
}
