@import "styles/animations";

.about {
    background-color: hsla(0, 0%, 95%, 0.97);
    color: #1c1d25;

    h2 {
        top: -10px;
        left: 100px;
        color: #4a4a4a;
        opacity: 0.07;
    }

    .about-info {
        position: absolute;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 17%;
        text-align: left;
        width: 70%;
        margin: 0 auto;

        .pic {
            margin-bottom: 30px;

            .pic-crop {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
            }
        }

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translateY(50%);
        }

        .about-title {
            margin-bottom: 20px;

            h3 {
                font-size: 23px;
            }
        }

        p {
            transform: translateY(50%);
            opacity: 0;
            text-align: justify;
            line-height: 1.3;
            strong {
                color: #0c9;
            }
        }
    }

    .about-footer {
        p {
            display: inline-flex;
            align-items: flex-end;

            svg {
                fill: #f25757;
            }
        }
    }
}
