.work-item {
  display: inline-block;
  width: 50%;
  padding: 0 12px;
  pointer-events: none;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  .work-item-content {
    position: relative;
    display: inline-block;
    background: #eff0f1;
    color: #191a1e;
    overflow: hidden;
    width: 100%;
    transition: all 0.25s ease-in-out;

    &:before {
      content: '';
      display: block;
      padding-top: 75%;
    }

    .work-tag {
      position: absolute;
      left: 50px;
      top: 50px;
      margin: 0;
      font-weight: bold;
      font-size: 12px;
      color: #4a4a4a;
      text-transform: uppercase;
    }

    .work-item-title > *,
    .work-tag,
    ul {
      opacity: 0;
      transform: translateY(25px);
    }

    .work-item-title {
      position: absolute;
      left: 50px;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 52%;

      h3 {
        font-size: 32px;
        margin-bottom: 5px;
        color: #191a1e;
      }

      p {
        font-size: 16px;
        color: #0c9;
      }
    }

    .work-preview {
      position: absolute;
      width: 45%;
      left: 90%;
      top: 50%;
      opacity: 0;
      transform: translate(-20%, -50%);

      &.is-mobile {
        left: 78%;
        width: 24%;
      }
    }

    ul {
      position: absolute;
      left: 50px;
      bottom: 50px;

      li {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin-right: 16px;

        svg {
          height: 30px;
          width: 30px;
        }
      }
    }
  }

  .work-item-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0c9;
    top: 0;
    right: 0;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 900px) {
  .work-item {
    .work-item-content {
      .work-tag {
        left: 40px;
        top: 40px;
      }

      .work-item-title {
        left: 40px;

        h3 {
          font-size: 28px;
        }
      }

      ul {
        left: 40px;
        bottom: 40px;
      }
    }
  }
}

@media only screen and (min-width: 901px) {
  .work-item {
    .work-item-content {
      &:hover {
        transform: translateY(-10px);
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .work-item {
    width: 100%;
    .work-item-content {
      .work-tag {
        font-size: 11px;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .work-item {
    padding: 0 12px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    .work-item-content {
      .work-tag {
        left: 30px;
        top: 30px;
      }

      .work-item-title {
        left: 30px;

        h3 {
          font-size: 20px;
          margin-bottom: 2px;
        }

        p {
          font-size: 14px;
        }
      }

      ul {
        left: 30px;
        bottom: 30px;

        li {
          svg {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 359px) {
  .work-item {
    .work-item-content {
      .work-tag {
        font-size: 10px !important;
        left: 20px;
        top: 20px;
      }

      .work-item-title {
        left: 20px;

        h3 {
          font-size: 18px;
          margin-bottom: 2px;
        }

        p {
          font-size: 12px;
        }
      }

      ul {
        left: 20px;
        bottom: 20px;

        li {
          svg {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
}
