footer {
  background-color: #23282a;
  color: #fff;
  padding-bottom: 20px;
  text-align: center;

  ul {
    display: none;
    justify-content: center;

    li {
      z-index: 1;

      a {
        padding: 10px;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  footer {
    ul {
      display: flex;
    }
  }
}
