footer {
  position: relative;
  background-color: #23282a;
  color: #fff;
  padding-bottom: 20px;
  text-align: center;

  .sns {
    display: none;

    li {
      a {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  footer {
    .sns {
      display: flex;
    }
  }
}
