.sns {
  display: flex;
  justify-content: center;

  li {
    a {
      display: inline-block;
      transition: 275ms;
      padding: 10px;

      svg {
        fill: #fff;
        transition: 275ms;
      }

      &:hover {
        svg {
          fill: #0c9;
        }
      }
    }

    &.codepen {
      a {
        svg {
          fill: transparent;
          stroke: #fff;
        }

        &:hover {
          svg {
            fill: transparent;
            stroke: #0c9;
          }
        }
      }
    }
  }
}
