.not-found-sec {
    height: 100%;
    width: 80vw;
    max-width: 800px;
    margin: auto;

    > .back-arrow {
        position: fixed;
        top: 30px;
        left: 60px;
        z-index: 99;
    }

    .not-found-animation {
        padding-bottom: 20%;
        height: 100%;
    }
}
