.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 110;
}

.modal-content {
    position: absolute;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    max-width: 95%;
    height: 90%;
    min-height: 750px;
    outline: none;
    position: fixed;
    background-color: rgb(35, 40, 42, 0.7);
    overflow: hidden;
    visibility: hidden;
    transition: visibility 1s, box-shadow 0.3s;

    &.ReactModal__Content--after-open {
        visibility: visible;
        box-shadow: 0 20px 80px 0 rgb(0 0 0 / 55%);
        transition: visibility 1s, box-shadow 0.5s ease 0.4s;

        .about,
        .skills {
            box-shadow: 0 20px 80px 0 rgb(0 0 0 / 55%);
            clip-path: inset(-80px 0 -80px 0);
        }
    }

    h2 {
        position: absolute;
        font-size: 190px;
        z-index: 0;
    }

    .about-footer {
        position: absolute;
        transform-style: preserve-3d;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;
        text-align: left;
        width: 70%;
        margin: 0 auto;

        a {
            display: inline-flex;
            align-items: center;
            background: linear-gradient(to right, #0c9, #0c9 50%, #fff 50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            background-position: 100%;
            transition: background-position 200ms ease;
            transition-delay: 100ms;

            svg {
                margin-right: 8px;
                transition: 25ms;
                path:first-of-type {
                    fill: #0c9;
                }
                path:last-of-type {
                    fill: #fff;
                }

                rect {
                    transition: 100ms linear;
                    transition-delay: 275ms;
                }
            }

            &:hover {
                background-position: 0 100%;
                color: #0c9;

                rect {
                    transition-delay: 0ms;
                    transform: translateX(100%);
                }
            }
        }
    }

    .close-button {
        position: absolute;
        top: 60px;
        right: 7%;
        z-index: 100;
    }
}

.about,
.skills {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.about {
    .close-button {
        display: none;
    }
}
.skills {
    .close-button {
        top: 40px;
        display: inline-block;
    }
}

@media only screen and (max-width: 768px) {
    .modal-content {
        height: 100%;
        width: 100%;
        max-width: none;
        overflow-y: auto;
        top: auto;
        left: auto;
        transform: none;

        &.ReactModal__Content--after-open {
            .about,
            .skills {
                transform: translateX(0) !important;
                box-shadow: 0 0 80px 0px rgb(0 0 0 / 45%);
                clip-path: inset(0 -80px 0 -80px);
            }
        }

        .close-button {
            top: 40px;
            right: 10%;

            span {
                background-color: #1c1d25;
            }
        }

        .about,
        .skills {
            position: relative;
            width: 100%;
            height: auto;
            overflow: hidden;
            padding: 40px 0;
            transform: translateX(-100%) !important;
            transition: transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1) !important;

            .about-info,
            .about-footer,
            .skills-content {
                width: 80%;
                position: relative;
                left: auto;
                right: auto;
                transform: none;
            }

            .about-footer {
                margin-top: 40px;
            }
        }

        .about {
            .close-button {
                display: inline-block;
            }
        }
        .skills {
            padding: 40px 0;

            .close-button {
                display: none;
            }
        }
    }
}
