.image-crop {
    position: absolute;
    z-index: 0;
    overflow: hidden;

    &:not(.is-mobile) {
        width: 92%;
        top: 8%;
        left: 4%;
        bottom: 6%;
    }

    &.is-mobile {
        border-radius: 5%;
        margin: 18.6% 25.1%;
        top: 0;
        bottom: 8%;
    }

    img {
        display: block;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        object-fit: fill;
        min-height: 100%;
    }

    video {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        height: 100%;
        width: auto;
        margin: auto;
    }
}
