.phone {
    position: relative;
    width: 100%;
    margin: -20% 0;

    .phone-mockup {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
    }

    .phone-overlay {
        position: absolute;
        background: linear-gradient(rgba(0, 0, 0, 0), #111);
        height: 100%;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
    }
}
